{%- macro pluralize_units(value, unit) -%}
  {{- unit if value == 1 else unit + 's' -}}
{%- endmacro -%}
{%- macro get_readable_time(name) -%}
  {%- set minutes = states('input_number.' + name + '_minutes') -%}
  {%- set seconds = states('input_number.' + name + '_seconds') -%}
  {%- set minutes_int = minutes | int -%}
  {%- set seconds_int = seconds | int -%}
  {%- set minutes = minutes_int | string -%}
  {%- set seconds = seconds_int | string -%}
  {%- set m_units = pluralize_units(minutes, 'minute') -%}
  {%- set s_units = pluralize_units(seconds, 'second') -%}
  {%- if minutes_int == 0 -%}
    {%- set output = seconds + ' ' + s_units -%}
  {%- else -%}
    {%- set output = minutes + ' ' + m_units -%}
    {%- if seconds_int > 0 -%}
      {%- set output = output + ' and ' + seconds + ' ' + s_units -%}
    {%- endif -%}
  {%- endif -%}
  {{- output -}}
{%- endmacro -%}