{%- macro pluralize_units(value, unit) -%}
{{- unit if value == 1 else unit + 's' -}}
{%- endmacro -%}
{%- macro readable_timeout(minutes, seconds) -%}
{%- set m_units = pluralize_units(minutes, 'minute') -%}
{%- set s_units = pluralize_units(seconds, 'second') -%}
{%- if minutes == 0 -%}
{%- set output = (seconds | string) + ' ' + s_units -%}
{%- else -%}
{%- set output = (minutes | string) + ' ' + m_units -%}
{%- if seconds > 0 -%}
{%- set output = output + ' and ' + (seconds | string) + ' ' + s_units -%}
{%- endif -%}
{%- endif -%}
{{- output -}}
{%- endmacro -%}