{%- macro pluralize_units(value, unit) -%}
{{- unit if value == 1 else unit + 's' -}}
{%- endmacro -%}
{%- macro readable_timeout(minutes, seconds) -%}
{%- set minutes_int = minutes | int(0) -%}
{%- set seconds_int = seconds | int(0) -%}
{%- set m_units = pluralize_units(minutes_int, 'minute') -%}
{%- set s_units = pluralize_units(seconds_int, 'second') -%}
{%- if minutes_int == 0 -%}
{%- set output = seconds + ' ' + s_units -%}
{%- else -%}
{%- set output = minutes + ' ' + m_units -%}
{%- if seconds_int > 0 -%}
{%- set output = output + ' and ' + seconds + ' ' + s_units -%}
{%- endif -%}
{%- endif -%}
{{- output -}}
{%- endmacro -%}