{%- macro time_sensor(name, units) -%}
  {%- if is_state('input_boolean.' + name + '_enabled', 'on') -%}
    {{- states('input_number.' + name + '_' + units) | int -}}
  {%- else -%}
    0
  {%- endif -%}
{%- endmacro -%}